.category-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-height: 100vh;
  padding-top: 15px;
  overflow-y: scroll;
}

.favorite, .not-favorite {
  overflow-x: scroll;
  border: 1px solid green;
  padding: 5px;
  width: 200px;
  margin: 10px;
  border-radius: 5px 40px 0px 0px;
  font-weight: 300;
}

.not-favorite {
  box-shadow: 1px 1px 20px 2px  #D8D8DA;
}

.favorite {
  box-shadow: 4px -4px 20px 0px  #fecb32;
}

.not-favorite-button, .favorite-button {
  background-size: cover;
  background-repeat: none;
  width: 20px;
  height: 20px;
}

.not-favorite-button {
  background-image: url('../../icon/starBlack.png');
}

.favorite-button {
  background-image: url('../../icon/starGold.png');
}

.movie-summary {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.movie-cat {
  color: #ef2f2f;
  margin-right: 5px;
}

.card-title {
  display:flex;
  justify-content: space-around;
  font-weight:500;
}

.card-info  {
  display: flex;
}
