.movie-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.movie-title {
  font-size: 20px;
}

.movie-info{
  padding-top: 10px;
}
