@import url('https://fonts.googleapis.com/css?family=Electrolize|Russo+One');

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.24), white);
  height: 150px;
}

.website-name {
  width: 50%;
  font-family: 'Electrolize', sans-serif;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 2px 2px 20px #fec82f;
  color: black;
}

.favorites-container {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 50%;
}

.header li {
  /*list-style-type: none;*/
  /*text-align: left;*/
}

.isInactive{
  color:#000
}

.favorites-title {
  border: 1px solid #ffc92f;
  box-shadow: 0px 0px 60px 0px #ffc92f;
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
  margin-bottom: 0;
}

.favorites-title span {
  margin-left: 4px;
  font-size: 20px;
  font-weight: bold;
}

.list-container {
  display: none;
}

.favorites-list {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
